[Desktop Entry]
Name=Monster
Comment=NES/SNES style RPG
Comment[pl]=Gra RPG rodem z NES/SNES
Icon=monster
Exec=monster
Terminal=false
Type=Application
Categories=Game;RolePlaying;
# vi: encoding=utf-8
