[Desktop Entry]
Name=Monster
Comment=NES/SNES style RPG
Comment[pl]=Gra RPG rodem z NES/SNES
Icon=monster.xpm
Exec=monster
Terminal=false
Type=Application
Categories=Game;RolePlaying;
Encoding=UTF-8
# vi: encoding=utf-8
